.MainViewContainer{
    background: #eee;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    flex-direction: column;
}


.MainViewContent{
    background: white;
    border-radius: 10px;
    width: 80%;
    height: 350px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-shadow: 10px 10px 10px grey;
}

.MainViewDataContainer{
    width: 100%;
    justify-content: center;
    margin-left: 50px;
    height: 206px;
}

.MainViewData{
    font-size: 1.3rem;
    width: 100%;
    margin-top: 20px;
}

.MainViewData > label{
    font-weight: bold;
    margin-right: 40px;
   display: table-row;
   text-align: left;
   width: 20%;
   font-size: 1.4rem;
   letter-spacing: 2px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MainViewData > div{
    text-align: left;
    width: 100%;
    margin-top: 5px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:	#585858
}

.ManiViewDataAdd{
    display: flex;
    align-items: center;
}

.ManiViewDataAdd> svg{
    margin-left: 20px;
    font-size: 30px;
    color: limegreen;
    cursor: pointer;
}



.ButtonContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

.ButtonContainer:last-child{
    margin-top: 20px;
}

.ButtonContainer > button {
    width: 50%;
    max-width: 180px;
    height: 50px;
    box-shadow: 5px 5px 5px 0px #aaa;
    font-size: 18px;
    letter-spacing: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.ButtonContainer > button:hover{
    box-shadow: none;
    background: #05f;
    color: white;
    border:none;
} 

.MainViewButton{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.MainViewButton > button{
    background: #05f;
    color: white;
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    box-shadow: black 3px 3px 10px ;
    cursor: pointer;
}

.MainViewButton > button:hover{
    box-shadow: none;
    background-color: black;
}

/* 
@media screen and (max-width: 999px) { 

    .MainViewContent{
        height: 400px;
    }

    .DevicesBox > div:first-child {
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
        
    }
    
    .ButtonContainer > button {
        max-width: 140px;
        height: 40px;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .MainViewButton > button{
        width: 400px;
    }

}

@media  only screen and (max-width: 420px){ 

    .MainViewContainer{
        height: 100vh;
    }

    .MainViewDataContainer{
        margin-left: 10px;
    }

    .MainViewContent{
        height: 450px;
    }

    .MainViewData > div{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;

    }
    .MainViewData > label{
        font-weight: 600;
       font-size: 16px;
    }

    .MainViewData > div{
        margin-top: 2px;
        font-size: 14px;
    }

    .DeviceLabels{
        margin-top: 10px;
        font-size: 16px;
    }

    .DeviceLabels > label:last-child{
        margin-left: 50px;
    }
    
    .DevicesBox{
        width: 90%;
        font-size: 14px;
    }
    
    .DevicesBox > div:first-child {
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
        
    }
    

    
    .ButtonContainer{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 30px;
    }

    .ButtonContainer:last-child{
        margin-top: 0;
        margin-bottom: 10px;
    }

    .ButtonContainer > button {
        max-width: 140px;
        height: 40px;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 10px;
    }

    .MainViewButton{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .MainViewButton > button{
        width: 280px;

    }

}

@media only screen and (max-width: 820px) and (max-height: 414px){
    .MainViewContainer{
        height: 110vh;
    }
    .MainViewContent{
        width: 90%;
        height: 300px;
    }

    .MainViewData > label{
        font-weight: 600;
       font-size: 16px;
    }

    .MainViewData > div{
        margin-top: 2px;
        font-size: 14px;
    }

    .ButtonContainer{
        margin-top: 20px;
    }

    .ButtonContainer:last-child{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .MainViewButton{
        margin-top: 20px;
        margin-bottom: 10px;
    }
}


@media only screen and (max-height: 770px) and (min-height:765px){
    .DevicesBox > div:first-child {
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
        
    }
    
    .ButtonContainer > button {
        max-width: 140px;
        height: 50px;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 10px;
    }
} */
